<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('nav') %>
    <div class="form">
      <form method="post" action="/new">
        <legend>Enter your message:</legend>
        <fieldset>
          <label for="text">Text:</label>
          <textarea name="text" id="text" rows="5"></textarea>
        </fieldset>
        <fieldset>
          <label for="user">User</label>
          <input type="text" name="user" id="user" />
        </fieldset>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
